
@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>

<input type="text"  id="txt"/>
<input type="button"  value="Send"  onclick="send()"/> <br/>
<ul>
    <li id="messagesList">Example</li>
</ul>




